/composer.lock
/composer.phar
/vendor
/.php_cs
/.php_cs.cache
/.phpunit.result.cache
/example/
/.idea/
/test.php
/phpspec.yml
!/build/.gitkeep
/build/*
!/tests/build/.gitkeep
/tests/build/*
/node_modules/
package-lock.json