imports:
  - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - spec/
    - tests/
  tasks.phpstan.ignore_patterns:
    - '/tests/'
    - '/spec/'
    - '/benchmarks/'

  extra_tasks:
    phpunit:
      metadata:
        priority: 3000
    infection:
      threads: 10
      test_framework: phpunit
      configuration: infection.json.dist
      min_msi: 50
      min_covered_msi: 50
      metadata:
        priority: 2000
